*{
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
}

:root{
  /* COLORS */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #FF954E;
  --primary-color-light: #fae7d2;
  --done-color: #519260;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* TRANSITIONS */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

}


body {
  height: 100vh;
    background: var(--body-color);
    font-family: "Inter", serif;
    transition: var(--tran-04);
  }

body.dark{
  --body-color: #18191A;
  --sidebar-color: #242526;
  --primary-color: #954008;
  --primary-color-light: #35312c;
  --toggle-color: #FFF;
  --text-color: #CCC;
}


/* SIDEBAR */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close{
  width: 65px;
}

.sidebar li{
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header{
  position: relative;
}

.sidebar .logo-text .logo i{
  padding: 10px;
  font-size: 30px;
  color: var(--primary-color);
}

.sidebar header .logo-text{
  display: flex;
  align-items: center;
}

.sidebar .text{
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text{
  opacity: 0;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 18px;
  transition: var(-50%);
}

.sidebar.close header .toggle{
  transform: translateY(-50%);
}

.sidebar li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover{
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
  color: var(--text-color);
}

.sidebar .menu-bar{
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .bottom-content .mode{
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.sidebar .bottom-content .mode .moon-sun{
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.sidebar .bottom-content .mode i{
  position: absolute;
  transition: var(--tran-03);
}

.sidebar .bottom-content .mode i.sun{
  opacity: 0;
}

body.dark .sidebar .bottom-content .mode i.sun{
  opacity: 1;
}

body.dark .sidebar .bottom-content .mode i.moon{
  opacity: 0;
}


.sidebar .bottom-content .mode .toggle-switch{
  position: absolute;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  background: var(--primary-color-light);
  
}

.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  cursor: pointer;
  transition: var(--tran-03);
}

body.dark .switch::before{
  left: 24px;
}

#content{
  position: relative;
  height: 100vh;
  left: 278px;
  width: calc(100% - 278px);
  background: var(--body-color);
  transition: var(--tran-05);
}

#content .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

.sidebar.close ~ #content{
  left: 94px;
  width: calc(100% - 94px);
}



/* TODOS */

#toDoSection {
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

#projectSection {
  display: flex;
}

#toDoCreateButton {
  font-size: 18px;
  color: var(--sidebar-color);
  background-color: var(--primary-color);
  position: relative;
  top: 20px;
  width: 100px;
  height: 50px;
  border-radius: 25px;
}

#dnTitle,
#dones {
  color: var(--done-color);
}

#todoDone {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  user-select: none;
}

#td {
  position: relative;
  right: 200px;
}

#toDos, #dones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#toDos li, #dones li {
  list-style: none;
  position: relative;
  margin: 10px;
}

#toDos li::before, #dones li::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  right: 100%;
  margin-right: 10px;
}

#toDos li.checked span,  #dones li.checked span {
  color: var(--done-color);
  text-decoration: line-through;
}

#toDos li.checked::before, #dones li.checked::before {
  border-color: var(--done-color);
}

#toDos li.checked::after, #dones li.checked::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid #519260;
  border-width: 0 2px 2px 0;
  top: 3px;
  right: 100%;
  margin-right: 17px;
  transform: rotate(45deg);
}

.editTdBtn, .deleteTdBtn, .editDnBtn, .deleteDnBtn, #deleteProjectButton {
  background-color: transparent; 
  border: none; 
  color: var(--text-color); 
  cursor: pointer; 
}

.editDnBtn, .deleteDnBtn {
  text-decoration: none;
  color: var(--done-color);
}

.icon-green {
  color: var(--done-color);
}

.editTdBtn i, .deleteTdBtn i, .editDnBtn i, .deleteDnBtn i{
  position: relative;
  font-size: 18px;
  left: 20px;
  padding: 5px;
}

#deleteProjectButton i {
  position: relative;
  font-size: 30px;
  padding: 5px;
}

.editTdBtn:hover, .deleteTdBtn:hover {
  color: var(--primary-color);
  transition: var(--tran-02);
}

#dn {
  position: relative;
  left: 200px;
}

/* FORM */

.form {
  display: none;
  position: relative;
  top: 50px;
  color: var(--text-color);
}

.styled-input {
  margin: 10px;
  display: flex;
  position: relative;
  width: 200px;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  border-width: 3px;
  background-color: var(--body-color);
  color: var(--text-color);
}

#submitTodoBtn {
  font-size: 14px;
  color: var(--sidebar-color);
  background-color: var(--primary-color);
  position: relative;
  top: 20px;
  width: 75px;
  height: 40px;
  border-radius: 25px;
}


/* EDIT */

#editContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#titleDateContainer, #priorityContainer {
  display: flex;
  align-items: center;
}

.separator {
  width: 650px;
  height: 3px;
  background-color: var(--text-color);
}

#saveBtn {
  font-size: 14px;
  color: var(--sidebar-color);
  background-color: var(--primary-color);
  position: relative;
  top: 40px;
  width: 75px;
  height: 40px;
  border-radius: 25px;
  
}

#descriptionTextField {
  width: 565px;
  height: 300px;
  border: 3px solid var(--text-color);
}

#content #todoTitle.text,
#todoDueDate.text,
#todoPriority.text,
#todoDescription.text,
#descriptionTextField.text{
  font-size: 20px;
}

#todoTitleInput,
#todoDueDateInput,
#todoPriorityInput {
  color: var(--text-color);
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 5px;
}









